@tailwind base;
@tailwind components;
@tailwind utilities;

.left-panel { float: left; margin-top: 1em; width: 250px; }
.right-panel { margin-left: 260px; }

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@keyframes slidein {
  0% {
    transform: translateX(-50%);
}

50% {
  transform: translateX(10%);
}

100% {
  transform: translateX(-50%)
}

}

.mapboxgl-ctrl-logo {
  display: none !important;
}

#reel {
  animation-name: slidein;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-timing-function: ease-in-out;
}

video {
  object-fit: fill;
}

#contrastText {
  color: white; 
  mix-blend-mode: difference;
}

#contrastTextBlack {
  color: black; 
  mix-blend-mode: difference;
}